<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="sidebar-logo">
      <a href="/"><img src="http://7xiwi7.com1.z0.glb.clouddn.com/166yuan.jpg"></a>
    </div>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item waves-effect" href="/"><i class="icon iconfont">&#xe600</i>&nbsp 主页·&nbspHome</a>
    <a class="sidebar-nav-item waves-effect" href="/archive/"><i class="icon iconfont">&#xe601</i>&nbsp 归档·&nbspArchive</a>
    <a class="sidebar-nav-item waves-effect" href="/category/"><i class="icon iconfont">&#xe602</i>&nbsp 分类·&nbspCategory</a>
    <a class="sidebar-nav-item waves-effect" href="/tag/"><i class="icon iconfont">&#xe603</i>&nbsp 标签·&nbspTag</a>
    <a class="sidebar-nav-item waves-effect" href="/about/"><i class="icon iconfont">&#xe604</i>&nbsp 关于·&nbspAbout</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
<aside id="sidebar-min">
    <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/"><i class="icon iconfont">&#xe600</i></a>
    <a class="sidebar-nav-item" href="/archive/"><i class="icon iconfont">&#xe601</i></a>
    <a class="sidebar-nav-item" href="/category/"><i class="icon iconfont">&#xe602</i></a>
    <a class="sidebar-nav-item" href="/tag/"><i class="icon iconfont">&#xe603</i></a>
    <a class="sidebar-nav-item" href="/about/"><i class="icon iconfont">&#xe604</i></a>
  </nav>
</aside>
